

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Landing Page Design Using HTML & CSS</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="C:\Users\Pranjal Jagtap\OneDrive\Pictures\Saved Pictures\slice.jpg" class="logo">
            <nav>
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Thums_Up">Home</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Thums_Up">Products</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Thums_Up">Community</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Thums_Up">Contact</a></li>
                </ul>
            </nav>
            <button class="btn" id="btn1">Log In</button>
            <button class="btn" id="btn2">Sign Up</button>
        </div>
        <div class="content">
            <div class="text">
            <h1> <span>Iftar Bane Khaas Jab Ho asli aam ki Mithas <br> Drink Slice</span></h1>
            <p> Slice is a leading fintech company focused on India's youth. <br> We aim to build a smart, innovative, and transparent platform to redesign the financial . <br>It was introduced in 1977 to offset the withdrawal of The Coca-Cola Company from India.
            </p>
            <button class="btn3">Order Now</button>
           </div>
        <div class="Thumsup">
        <img src="C:\Users\Pranjal Jagtap\OneDrive\Pictures\Saved Pictures\slice_bottle2.jpg" alt="">
        </div>
       </div>
   </div>
</body>
</html>